Node-RED flow SmartLink SI B Channle1 status TELEGRAM contactor impulse.txt
[{"id":"e588265.680add8","type":"inject","z":"dfd0ef70.364fe","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["9d1fde3c.c01ad"]]},{"id":"8d6980ba.35a15","type":"inject","z":"dfd0ef70.364fe","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["9d1fde3c.c01ad"]]},{"id":"9d1fde3c.c01ad","type":"modbus-write","z":"dfd0ef70.364fe","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14201","quantity":"1","server":"6cf45f8a.ef09d","x":620,"y":200,"wires":[["99099313.66818"],[]]},{"id":"99099313.66818","type":"modbus-response","z":"dfd0ef70.364fe","name":"","registerShowMax":20,"x":860,"y":180,"wires":[]},{"id":"a4bfe541.ae9498","type":"mqtt in","z":"dfd0ef70.364fe","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"80e2d024.f21fe","x":310,"y":180,"wires":[["9d1fde3c.c01ad"]]},{"id":"eb5a93ad.ee9b8","type":"comment","z":"dfd0ef70.364fe","name":"MESTRE CANAL 1 (Rele 0)","info":"","x":260,"y":80,"wires":[]},{"id":"dead5b22.b166a8","type":"comment","z":"dfd0ef70.364fe","name":"ENCESA RETOLS PLANTA 1 I PLANTA 2","info":"","x":300,"y":120,"wires":[]},{"id":"422c98f0.7468b8","type":"inject","z":"dfd0ef70.364fe","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":700,"wires":[["4082c24d.811e8c"]]},{"id":"24ceb971.799b16","type":"inject","z":"dfd0ef70.364fe","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":740,"wires":[["4082c24d.811e8c"]]},{"id":"4082c24d.811e8c","type":"modbus-write","z":"dfd0ef70.364fe","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14321","quantity":"1","server":"6cf45f8a.ef09d","x":600,"y":660,"wires":[["adc17793.6cbbb8"],[]]},{"id":"adc17793.6cbbb8","type":"modbus-response","z":"dfd0ef70.364fe","name":"","registerShowMax":20,"x":840,"y":640,"wires":[]},{"id":"8edb16c7.a2d008","type":"mqtt in","z":"dfd0ef70.364fe","name":"","topic":"/Nave1/tanque1/PLCM241/contactorON","qos":"2","datatype":"auto","broker":"80e2d024.f21fe","x":270,"y":640,"wires":[["4082c24d.811e8c"]]},{"id":"e30b0780.3fe3e8","type":"comment","z":"dfd0ef70.364fe","name":"MESTRE CANAL 4 (Contactor)","info":"","x":250,"y":540,"wires":[]},{"id":"5204c080.57cb1","type":"comment","z":"dfd0ef70.364fe","name":"ENLLUMENAT EXPOSICIO 2 PLANTA 1","info":"","x":280,"y":580,"wires":[]},{"id":"d1550cc0.e3d24","type":"modbus-read","z":"dfd0ef70.364fe","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14240","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6cf45f8a.ef09d","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":400,"wires":[["8d77901c.bec2e","bcf0b5c1.e71d98"],[]]},{"id":"8d77901c.bec2e","type":"modbus-response","z":"dfd0ef70.364fe","name":"","registerShowMax":20,"x":530,"y":380,"wires":[]},{"id":"bcf0b5c1.e71d98","type":"function","z":"dfd0ef70.364fe","name":"CHANNEL 1","func":"var variable0={payload: msg.payload[0]}\nreturn variable0;","outputs":1,"noerr":0,"x":510,"y":440,"wires":[["d4257dcb.705c7","d6bec17c.ffbb9"]]},{"id":"d4257dcb.705c7","type":"debug","z":"dfd0ef70.364fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":540,"wires":[]},{"id":"d6bec17c.ffbb9","type":"function","z":"dfd0ef70.364fe","name":"INPUT","func":"var a=msg.payload;\nif (a==3)\n  msg.payload=1;\n  else\n    if (a==2)\n      msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["e7356bcb.767698","4dbb66f9.13edf8","2de79e8.bdd0362"]]},{"id":"e7356bcb.767698","type":"debug","z":"dfd0ef70.364fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":440,"wires":[]},{"id":"4dbb66f9.13edf8","type":"mqtt out","z":"dfd0ef70.364fe","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"","retain":"","broker":"80e2d024.f21fe","x":1000,"y":500,"wires":[]},{"id":"42caefd1.46a47","type":"inject","z":"dfd0ef70.364fe","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":940,"wires":[["cb2ff48a.79bc38"]]},{"id":"2394d05a.a728e","type":"inject","z":"dfd0ef70.364fe","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":980,"wires":[["cb2ff48a.79bc38"]]},{"id":"cb2ff48a.79bc38","type":"modbus-write","z":"dfd0ef70.364fe","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14441","quantity":"1","server":"6cf45f8a.ef09d","x":560,"y":900,"wires":[["963e6aae.7c65f8"],[]]},{"id":"963e6aae.7c65f8","type":"modbus-response","z":"dfd0ef70.364fe","name":"","registerShowMax":20,"x":800,"y":880,"wires":[]},{"id":"8462bbb3.61b3b8","type":"mqtt in","z":"dfd0ef70.364fe","name":"","topic":"/Nave1/tanque1/PLCM241/impulseON","qos":"2","datatype":"auto","broker":"80e2d024.f21fe","x":230,"y":880,"wires":[["cb2ff48a.79bc38"]]},{"id":"57da928b.b4ba9c","type":"comment","z":"dfd0ef70.364fe","name":"MESTRE CANAL 7 (Contactor)","info":"","x":210,"y":780,"wires":[]},{"id":"5528ef0d.cc37","type":"comment","z":"dfd0ef70.364fe","name":"ENLLUMENAT EXPOSICIO 2 PLANTA 1","info":"","x":240,"y":820,"wires":[]},{"id":"7ef4fef8.8e0f2","type":"comment","z":"dfd0ef70.364fe","name":"MESTRE CANAL 2 (Diferencial)","info":"","x":210,"y":320,"wires":[]},{"id":"a3dd7710.5f08a8","type":"comment","z":"dfd0ef70.364fe","name":"ENLLUMENAT EXPOSICIO 2 PLANTA 1","info":"","x":240,"y":360,"wires":[]},{"id":"42c6db3.06e9524","type":"telegram sender","z":"dfd0ef70.364fe","name":"Telegram xavier_florensa_bot","bot":"","x":1150,"y":340,"wires":[["5c82abf7.8b42a4"]]},{"id":"5c82abf7.8b42a4","type":"debug","z":"dfd0ef70.364fe","name":"Resultat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1340,"y":260,"wires":[]},{"id":"5713d620.236458","type":"template","z":"dfd0ef70.364fe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"chatId\": 123456789,\n    \"type\": \"message\",\n    \"content\": \"{{payload}}\"\n}\n","output":"json","x":920,"y":320,"wires":[["42c6db3.06e9524","b7ff5179.24534"]]},{"id":"b7ff5179.24534","type":"debug","z":"dfd0ef70.364fe","name":"parsed JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":260,"wires":[]},{"id":"46c1074d.151fd8","type":"rbe","z":"dfd0ef70.364fe","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":890,"y":380,"wires":[["5713d620.236458"]]},{"id":"2de79e8.bdd0362","type":"function","z":"dfd0ef70.364fe","name":"INPUT","func":"var a=msg.payload;\nif (a===1)\n  msg.payload=\"ON: DIFERENCIAL HA ESTAT REARMAT\";\n  else\n    if (a===0)\n      msg.payload=\"OFF: HA CAIGUT DIFERENCIAL\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["46c1074d.151fd8"]]},{"id":"6cf45f8a.ef09d","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.95","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"255","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"80e2d024.f21fe","type":"mqtt-broker","z":"ca75ecb4.f7a4a","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]