Node-RED flow SmartLink SI B Channle1 status.txt
[{"id":"67b06897.540488","type":"modbus-read","z":"cb19d4e2.c6e418","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14200","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"18bf52e5.f2baad","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":139.5,"y":116,"wires":[["6c8b80a8.420fe","f4af9647.405568"],[]]},{"id":"6c8b80a8.420fe","type":"modbus-response","z":"cb19d4e2.c6e418","name":"","registerShowMax":20,"x":420.5,"y":96,"wires":[]},{"id":"a073fb3a.5b6158","type":"comment","z":"cb19d4e2.c6e418","name":"CHANNEL 1 STATUS","info":"","x":162.5,"y":56,"wires":[]},{"id":"f4af9647.405568","type":"function","z":"cb19d4e2.c6e418","name":"CHANNEL 1","func":"var variable0={payload: msg.payload[0]}\nreturn variable0;","outputs":1,"noerr":0,"x":362.5,"y":184,"wires":[["38d5fd96.17e252","b57f3789.238fb8"]]},{"id":"38d5fd96.17e252","type":"debug","z":"cb19d4e2.c6e418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":383.5,"y":318,"wires":[]},{"id":"b57f3789.238fb8","type":"function","z":"cb19d4e2.c6e418","name":"INPUT","func":"var a=msg.payload;\nif (a==3)\n  msg.payload=1;\n  else\n    if (a==2)\n      msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":534.5,"y":185,"wires":[["2338b874.916af8","d6d6d9f1.9ca888"]]},{"id":"2338b874.916af8","type":"debug","z":"cb19d4e2.c6e418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745.5,"y":145,"wires":[]},{"id":"d6d6d9f1.9ca888","type":"mqtt out","z":"cb19d4e2.c6e418","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"","retain":"","broker":"bebd13e8.ab6da","x":795.5,"y":208,"wires":[]},{"id":"e2dcae43.da266","type":"powerTag","z":"cb19d4e2.c6e418","name":"","unitId":"","data":"","x":149.5,"y":383,"wires":[[]]},{"id":"18bf52e5.f2baad","type":"modbus-client","z":"cb19d4e2.c6e418","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.95","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":255,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"bebd13e8.ab6da","type":"mqtt-broker","z":"cb19d4e2.c6e418","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]